<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-offline-files"
        version="0.0.3">
    <name>Offline Files Plugin</name>
    <description>Cordova Offline Files Plugin</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo></repo>
    <issue></issue>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OfflineFilesPlugin">
                <param name="ios-package" value="OfflineFilesPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/AppDelegate+UrlSession.h" />
        <source-file src="src/ios/AppDelegate+UrlSession.m" />

        <header-file src="src/ios/OfflineFilesPlugin.h" />
        <source-file src="src/ios/OfflineFilesPlugin.m" />

        <header-file src="src/ios/Queue.h" />
        <source-file src="src/ios/Queue.m" />

        <header-file src="src/ios/Sql.h" />
        <source-file src="src/ios/Sql.m" />

        <header-file src="src/ios/Data.h" />
        <source-file src="src/ios/Data.m" />

        <header-file src="src/ios/lib/Underscore/USArrayWrapper.h"
                     target-dir="lib/Underscore"/>
        <source-file src="src/ios/lib/Underscore/USArrayWrapper.m"
                     target-dir="lib/Underscore"/>
        <header-file src="src/ios/lib/Underscore/USConstants.h"
                     target-dir="lib/Underscore"/>
        <header-file src="src/ios/lib/Underscore/USDictionaryWrapper.h"
                     target-dir="lib/Underscore"/>
        <source-file src="src/ios/lib/Underscore/USDictionaryWrapper.m"
                     target-dir="lib/Underscore"/>
        <header-file src="src/ios/lib/Underscore/Underscore+Functional.h"
                     target-dir="lib/Underscore"/>
        <source-file src="src/ios/lib/Underscore/Underscore+Functional.m"
                     target-dir="lib/Underscore"/>
        <header-file src="src/ios/lib/Underscore/Underscore.h"
                     target-dir="lib/Underscore"/>
        <source-file src="src/ios/lib/Underscore/Underscore.m"
                     target-dir="lib/Underscore"/>
        <header-file src="src/ios/lib/Underscore/Strings/USStringWrapper.h"
                     target-dir="lib/Underscore"/>
        <source-file src="src/ios/lib/Underscore/Strings/USStringWrapper.m"
                     target-dir="lib/Underscore"/>
        <header-file src="src/ios/lib/Underscore/Strings/Underscore+Strings.h"
                     target-dir="lib/Underscore"/>
        <source-file src="src/ios/lib/Underscore/Strings/Underscore+Strings.m"
                     target-dir="lib/Underscore"/>
        <header-file src="src/ios/lib/Underscore/Times/Underscore+Times.h"
                     target-dir="lib/Underscore"/>
        <source-file src="src/ios/lib/Underscore/Times/Underscore+Times.m"
                     target-dir="lib/Underscore"/>

        <framework src="libsqlite3.dylib" />
    </platform>
</plugin>
